{%  extends "templates/web.html" %}

{% block title %}{{ _("Fixture") }}{% endblock %}
{% block script %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="description" content="Bootstrap App Landing Template">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Themefisher">
	<meta name="generator" content="Themefisher Small Apps Template v1.0">
 
{% endblock %}
{% block page_content %}
<section class="section pt-0 position-relative">
    <div class="container">
        <section class="section gradient-banner" style="height:120px;" >
        <div class="container" style="height:120px;margin-top:-100px;margin-right:10px;">

        <div class="row">
            <div class="col-sm-12 text-white">
                <h3 style="text-align: center;color:white">Ver Fixture</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-white">
                <div class="form-group mb-1">
                    <label for="ligas" class="text-white">Ligas </label>
                    <!--<select name="ligas" id="ligas" onchange="selecLiga();">-->
                    <select name="ligas" id="ligas">
                    </select>
                </div>
            </div>
        </div>
        <div class="py-100 row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="form-group mb-1">
                    <label for="categoria" class="text-white">Categoria </label>
                    <select name="categoria" id="categoria">
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="form-group mb-1">
                    <label for="grupo" class="text-white">Grupo </label>
                    <select name="grupo" id="grupo">
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="form-group mb-1">
                    <label for="fase" class="text-white">Fase</label>
                    <select name="fase" id="fase">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <button type="Submit" id="buscarCalendario" class="btn btn-primary btn-sm">Buscar</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <h2 style="text-align: center;font-size:20px;display: none" class="text-dark" ><div id="nombreliga"> </div></h2>
            </div>
        </div>
        </div>
    </section>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="divCalendario"></div>
                <div id="datatable" style="width:100%">
                    <table id="tablaFixture" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Local</th>
                                <th>ML</th>
                                <th>Visitante</th>
                                <th>MV</th>
                                <th>N. Fecha</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Local</th>
                                <th>ML</th>
                                <th>Visitante</th>
                                <th>MV</th>
                                <th>N. Fecha</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    
    </div>
</section>
<script>
    frappe.ready(function () {
        frappe.require([
        '/assets/js/datatable/jquery.dataTables.min.js',//jquery.dataTables.min.js
        '/assets/js/datatable/dataTables.jqueryui.min.js',//dataTables.jqueryui.min.js
        '/assets/js/datatable/dataTables.buttons.min.js',//dataTables.buttons.min.js
        '/assets/js/datatable/buttons.jqueryui.min.js', //buttons.jqueryui.min.js
        '/assets/js/datatable/jszip.min.js',
        '/assets/js/datatable/pdfmake.min.js', //pdfmake.min.js
        '/assets/js/datatable/vfs_fonts.js',
        '/assets/js/datatable/buttons.html5.min.js',
        '/assets/js/datatable/buttons.print.min.js',
        '/assets/js/datatable/buttons.colVis.min.js',
		'/assets/kopa/cssweb/plugins/bootstrap/bootstrap.min.css',
		'/assets/css/datatable/jquery-ui.css',
		'/assets/kopa/cssweb/css/jquery-ui.theme.min.css',
        '/assets/css/datatable/dataTables.jqueryui.min.css',
        '/assets/css/datatable/buttons.jqueryui.min.css'], () => {
            let datos = new Object();
            $("#tablaFixture").dataTable().fnDestroy();
                var table = $('#tablaFixture').dataTable( {
                    dom: 'Bfrtip',
                    buttons: [
                        'pdfHtml5'
                    ],
                    scrollX: true,
                    //lengthChange: false,
                    language: {
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    },
                    data : datos,
                    "ordering": false,
                    "order": [[ 5, "asc" ]],
                    "columnDefs": [
                        { "width": "5%", "targets": 0 },
                        { "width": "25%", "targets": 1 },
                        { "width": "10%", "targets": 2 },
                        { "width": "25%", "targets": 3 },
                        { "width": "10%", "targets": 4 },
                        { "width": "7%", "targets": 5 },
                        { "width": "11%", "targets": 6 },
                        { "width": "7%", "targets": 7 }
                    ],
                    columns: [
                        {
                            "data": null, "render": function (data, type, full, meta) {
                                return meta.row + 1;
                            }
                        },
                        {"data" : "local"},
                        {"data" : "marcador_local"},
                        {"data" : "visitante"},
                        {"data" : "marcador_visitante"},
                        {"data" : "numero_fecha"},
                        {"data" : "fecha"},
                        {"data" : "hora"},
                    ],
                });
            frappe.call({
                method: "kopa.www.fixture.index.get_ligas",
                //freeze: true,
            }).done((cat)=>{
                html = "<option value='Seleccionar'>Seleccionar</option>"
                $.each(cat.message, function(_i,ee){
                    html += "<option value=" + ee.name + ">" + ee.nombre + "</option>"
                });
                document.getElementById("ligas").innerHTML = html;
                
            });
            
            
            $("#buscarCalendario").click(function () {
                buscar();
            });
            $('#ligas').on('change', function() {
                selecLiga();
            });
        });
    });
    function selecLiga() {
        var selectBox = document.getElementById("ligas");
        let liga = selectBox.options[selectBox.selectedIndex].innerHTML;
        $("#nombreliga").html(liga);
        frappe.call({
            method: "kopa.www.fixture.index.get_categorias",
            //freeze: true,
            args: {
                "liga": liga
            }
        }).done((cat)=>{
            html = "<option value='Seleccionar'>Seleccionar</option>"
            $.each(cat.message, function(_i,ee){
                html += "<option value=" + ee.name + ">" + ee.nombrecat + "</option>"
            });
            document.getElementById("categoria").innerHTML = html;
            
        });
        frappe.call({
            method: "kopa.www.fixture.index.get_grupos",
            //freeze: true,
            args: {
                "liga": liga
            }
        }).done((g)=>{
            html = "<option value='Seleccionar'>Seleccionar</option>"
            $.each(g.message, function(_i,gg){
                html += "<option value=" + gg.name + ">" + gg.nombre_grupo + "</option>"
            });
            document.getElementById("grupo").innerHTML = html;
            
        });
        frappe.call({
            method: "kopa.www.fixture.index.get_fases",
            //freeze: true,
            args: {
                "liga": liga
            }
        }).done((f)=>{
            html = "<option value='Seleccionar'>Seleccionar</option>"
            $.each(f.message, function(_i,ff){
                html += "<option value=" + ff.name + ">" + ff.nombre_fase + "</option>"
            });
            document.getElementById("fase").innerHTML = html;
            
        });
       }
    function buscar() {
        strdatos="";
        $("#divCalendario").html(strdatos);
        let liga = $("#nombreliga").html();
        var select = document.getElementById("categoria");
        let categoria = select.options[select.selectedIndex].text;
        select = document.getElementById("grupo");
        let grupo = select.options[select.selectedIndex].value;
        select = document.getElementById("fase");
        let fase = select.options[select.selectedIndex].value;
        if (liga === undefined) {
            frappe.msgprint("Seleccione una Liga de F&uacute;tbol");
            return;
        }
        frappe.call({
            method: "kopa.www.fixture.index.fixture",
            //freeze: true,
            args: {
                "liga": liga,
                "categoria": categoria,
                "grupo": grupo,
                "fase": fase,
            }
        }).done((cal)=>{
            if (cal.message.length>0) {
                $("#tablaFixture").dataTable().fnDestroy();
                var table = $('#tablaFixture').dataTable( {
                    dom: 'Bfrtip',
                    buttons: [
                        'pdfHtml5'
                    ],
                    scrollX: true,
                    //lengthChange: false,
                    language: {
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    },
                    data : cal.message,
                    "ordering": false,
                    "order": [[ 5, "asc" ]],
                    "columnDefs": [
                        { "width": "5%", "targets": 0 },
                        { "width": "25%", "targets": 1 },
                        { "width": "10%", "targets": 2 },
                        { "width": "25%", "targets": 3 },
                        { "width": "10%", "targets": 4 },
                        { "width": "7%", "targets": 5 },
                        { "width": "11%", "targets": 6 },
                        { "width": "7%", "targets": 7 }
                    ],
                    columns: [
                        {
                            "data": null, "render": function (data, type, full, meta) {
                                return meta.row + 1;
                            }
                        },
                        {"data" : "local"},
                        {"data" : "marcador_local"},
                        {"data" : "visitante"},
                        {"data" : "marcador_visitante"},
                        {"data" : "numero_fecha"},
                        {"data" : "fecha"},
                        {"data" : "hora"},
                    ],
                });
            }
                    
        });

    }
</script>
{% endblock %}