{%  extends "templates/web.html" %}

{% block title %}{{ _("Tabla de Posiciones") }}{% endblock %}
{% block script %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 
{% endblock %}
{% block page_content %}
<section class="section pt-0 position-relative">
    <div class="container">
        <section class="section gradient-banner" style="height:120px;" >
        <div class="container" style="height:120px;margin-top:-120px;margin-right:10px;">
            <div class="row">
                <div class="col-sm-12 col-lg-8">                
                    <h3 style="text-align: center;color:white">Consulta Tabla de Posiciones</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group mb-1">
                        <label for="ligas" class="text-white">Ligas </label>
                        <select name="ligas" id="ligas">
                        </select>
                    </div>
                </div>
            </div>
            <div class="py-100 row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group mb-1">
                        <label for="categoria" class="text-white">Categoria </label>
                        <select name="categoria" id="categoria">
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group mb-1">
                        <label for="grupo" class="text-white">Grupo </label>
                        <select name="grupo" id="grupo">
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group mb-1">
                        <label for="fase" class="text-white">Fase</label>
                        <select name="fase" id="fase">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <button type="Submit" id="buscarCalendario" class="btn btn-primary btn-sm">Buscar</button>
                </div>
            </div>
        </div>
    </section>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <h2 style="text-align: center;color:blue;font-size:20px;display: none" ><div id="nombreliga"> </div></h2>
            </div>
        </div>
    

    
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div id="dtPosiciones" style="width:100%">
                <table id="tablaP" class="display" style="width:100%" >
                    <thead>
                        <tr>
                            <th></th>
                            <th>Club</th>
                            <th>PJ</th>
                            <th>Puntos</th>
                            <th>GF</th>
                            <th>GC</th>
                            <th>GD</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Club</th>
                            <th>PJ</th>
                            <th>Puntos</th>
                            <th>GF</th>
                            <th>GC</th>
                            <th>GD</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    </div>
    </section>
    <script>
        frappe.ready(function () {
            frappe.require([
        '/assets/js/datatable/jquery.dataTables.min.js',//jquery.dataTables.min.js
        '/assets/js/datatable/dataTables.jqueryui.min.js',//dataTables.jqueryui.min.js
        '/assets/js/datatable/dataTables.buttons.min.js',//dataTables.buttons.min.js
        '/assets/js/datatable/buttons.jqueryui.min.js', //buttons.jqueryui.min.js
        '/assets/js/datatable/jszip.min.js',
        '/assets/js/datatable/pdfmake.min.js', //pdfmake.min.js
        '/assets/js/datatable/vfs_fonts.js',
        '/assets/js/datatable/buttons.html5.min.js',
        '/assets/js/datatable/buttons.print.min.js',
        '/assets/js/datatable/buttons.colVis.min.js',
		'/assets/css/datatable/dataTables.jqueryui.min.css',
        '/assets/css/datatable/buttons.jqueryui.min.css',
        
        '/assets/kopa/cssweb/css/jquery.mobile.icons.min.css'], () => {
            let tp= new Object();
            $("#tablaP").dataTable().fnDestroy();
            $('#tablaP').dataTable( {
                dom: 'Bfrtip',
                    buttons: [
                        'pdfHtml5'
                    ],
                    scrollX: true,
                    //lengthChange: false,
                    language: {
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    },
                data : tp,
                "ordering": true,
                "order": [[ 3, "desc" ], [ 6, "desc" ]],
                "columnDefs": [
                    { "width": "10%", "targets": 0 },
                    { "width": "40%", "targets": 1 },
                    { "width": "10%", "targets": 2 },
                    { "width": "10%", "targets": 3 },
                    { "width": "10%", "targets": 4 },
                    { "width": "10%", "targets": 5 },
                    { "width": "10%", "targets": 6 }
                ],
                columns: [
                    {
                        "data": null, "render": function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    },
                    {"data" : "club"},
                    {"data" : "partidos_jugados"},
                    {"data" : "puntos"},
                    {"data" : "gol_a_favor"},
                    {"data" : "gol_en_contra"},
                    {"data" : "GD"}
                ],
            });
            frappe.call({
                method: "kopa.www.tabla_goleadores.index.get_ligas",
                //freeze: true,
            }).done((cat)=>{
                html = "<option value='Seleccionar'>Seleccionar</option>"
                $.each(cat.message, function(_i,ee){
                    html += "<option value=" + ee.name + ">" + ee.nombre + "</option>"
                });
                document.getElementById("ligas").innerHTML = html;
                
            });

                
                $("#buscarCalendario").click(function () { 
                    buscar();
                });                
            });
            $('#ligas').on('change', function() {
                selecLiga();
            });
        });
        function selecLiga() {
            var selectBox = document.getElementById("ligas");
            let liga = selectBox.options[selectBox.selectedIndex].innerHTML;
            $("#nombreliga").html(liga);
            frappe.call({
                method: "kopa.www.tabla_goleadores.index.get_categorias",
                //freeze: true,
                args: {
                    "liga": liga
                }
            }).done((cat)=>{
                html = "<option value='Seleccionar'>Seleccionar</option>"
                $.each(cat.message, function(_i,ee){
                    html += "<option value=" + ee.name + ">" + ee.nombrecat + "</option>"
                });
                document.getElementById("categoria").innerHTML = html;
                
            });
            frappe.call({
                method: "kopa.www.tabla_goleadores.index.get_grupos",
                //freeze: true,
                args: {
                    "liga": liga
                }
            }).done((g)=>{
                html = "<option value='Seleccionar'>Seleccionar</option>"
                $.each(g.message, function(_i,gg){
                    html += "<option value=" + gg.name + ">" + gg.nombre_grupo + "</option>"
                });
                document.getElementById("grupo").innerHTML = html;
                
            });
            frappe.call({
                method: "kopa.www.tabla_goleadores.index.get_fases",
                //freeze: true,
                args: {
                    "liga": liga
                }
            }).done((f)=>{
                html = "<option value='Seleccionar'>Seleccionar</option>"
                $.each(f.message, function(_i,ff){
                    html += "<option value=" + ff.name + ">" + ff.nombre_fase + "</option>"
                });
                document.getElementById("fase").innerHTML = html;
                
            });
           }
    function buscar() {
        strdatos="";
        $("#divCalendario").html(strdatos);
        let liga = $("#nombreliga").html();
        var select = document.getElementById("categoria");
        let categoria = select.options[select.selectedIndex].text;
        console.log(categoria);
        select = document.getElementById("grupo");
        let grupo = select.options[select.selectedIndex].value;
        select = document.getElementById("fase");
        let fase = select.options[select.selectedIndex].value;
        let resultados="";
    
        if (liga === undefined) {
            frappe.msgprint("Seleccione una Liga de F&uacute;tbol");
            return;
        }
        frappe.call({
            method: "kopa.www.tabla_posiciones.index.getTablaPosiciones",
            //freeze: true,
            args: {
                "liga": liga,
                "categoria": categoria,
                "grupo": grupo,
                "fase": fase,
            }
        }).done((result)=>{
            i=0;
            var sorted=[];
            for( var i = 0; i < result.message.length; i++ ) {
                result.message[i]['GD']=result.message[i]['gol_a_favor']-result.message[i]['gol_en_contra'];
            };        
            
            result.message.sort(dynamicSortMultiple("puntos DESC","GD desc"));
            strdatos=$("#divCalendario").html();
            //$("#tablaP").dataTable().clear();
            $("#tablaP").dataTable().fnDestroy();
            $('#tablaP').dataTable( {
                dom: 'Bfrtip',
                    buttons: [
                        'pdfHtml5'
                    ],
                    scrollX: true,
                    //lengthChange: false,
                    language: {
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    },
                data : result.message,
                "ordering": true,
                "order": [[ 3, "desc" ], [ 6, "desc" ]],
                "columnDefs": [
                    { "width": "10%", "targets": 0 },
                    { "width": "40%", "targets": 1 },
                    { "width": "10%", "targets": 2 },
                    { "width": "10%", "targets": 3 },
                    { "width": "10%", "targets": 4 },
                    { "width": "10%", "targets": 5 },
                    { "width": "10%", "targets": 6 }
                ],
                columns: [
                    {
                        "data": null, "render": function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    },
                    {"data" : "club"},
                    {"data" : "partidos_jugados"},
                    {"data" : "puntos"},
                    {"data" : "gol_a_favor"},
                    {"data" : "gol_en_contra"},
                    {"data" : "GD"}
                ],
            });
            
        });
        
        
    }

    function dynamicSortMultiple() {
        var props=[];
        /*Let's separate property name from ascendant or descendant keyword*/
        for(var i=0; i < arguments.length; i++){
            var splittedArg=arguments[i].split(/ +/);
            props[props.length]=[splittedArg[0], (splittedArg[1] ? splittedArg[1].toUpperCase() : "ASC")];
        }
        return function (obj1, obj2) {
            var i = 0, result = 0, numberOfProperties = props.length ;
            /*Cycle on values until find a difference!*/
            while(result === 0 && i < numberOfProperties) {
                result = dynamicSort(props[i][0], props[i][1])(obj1, obj2);
                i++;
            }
            return result;
        }
    }
    
    /*Base function returning -1,1,0 for custom sorting*/
    function dynamicSort(property, isAscDesc) { 
        return function (obj1,obj2) {
            if(isAscDesc==="DESC"){
                return ((obj1[property] > obj2[property]) ? (-1) : ((obj1[property] < obj2[property]) ? (1) : (0)));
            }
            /*else, if isAscDesc==="ASC"*/
            return ((obj1[property] > obj2[property]) ? (1) : ((obj1[property] < obj2[property]) ? (-1) : (0)));
        }
    }
    
</script>
{% endblock %}