{%  extends "templates/web.html" %}

{% block title %}{{ _("Historia deportiva del Jugador") }}{% endblock %}
{% block script %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<script src="/assets/js/datatable/jquery-3.5.1.js"></script>
<script src="/assets/js/datatable/jquery.dataTables.min.js"></script>
<script src="/assets/js/datatable/dataTables.jqueryui.min.js"></script>
<script src="/assets/js/datatable/dataTables.buttons.min.js"></script>
<script src="/assets/js/datatable/buttons.jqueryui.min.js"></script>
<script src="/assets/js/datatable/jszip.min.js"></script>
<script src="/assets/js/datatable/pdfmake.min.js"></script>
<script src="/assets/js/datatable/vfs_fonts.js"></script>
<script src="/assets/js/datatable/buttons.html5.min.js"></script>
<script src="/assets/js/datatable/buttons.print.min.js"></script>
<script src="/assets/js/datatable/buttons.colVis.min.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/assets/css/datatable/jquery-ui.css" />
<link rel="stylesheet" type="text/css" media="all" href="/assets/css/datatable/dataTables.jqueryui.min.css" />
<link rel="stylesheet" type="text/css" media="all" href="/assets/css/datatable/buttons.jqueryui.min.css" />-->
{% endblock %}
{% block page_content %}
<section class="section pt-0 position-relative">
    <div class="container">
        <section class="section gradient-banner" style="height:120px;" >
            <div class="container" style="height:120px;margin-top:-100px;margin-right:10px;">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <h2 style="text-align: center;" class="text-white">Historia del Jugador</h2>
                        <p style="font-size: 17px;font-weight:bold" class="text-white">Ingrese el Número de Cédula de Identidad para realizar la busqueda</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-inline">
                            <form class="form-group mb-2">
                                <label for="txtci" class="sr-only;text-white">CI: </label>
                                <input class="form-control" type="text" id="txtci" name="txtci" >    
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <!--<button type="Submit" id="buscarjugador" class="btn btn-primary btn-sm" onclick="buscar()">Buscar</button>-->
                        <button type="Submit" id="buscarjugador" class="btn btn-primary btn-sm" >Buscar</button>
                    </div>
                </div>
            </div>
        </section>
    
        <div class="row">
            <div class="col-lg-1 col-md-2 col-sm-12">
                <img src="" alt="Foto" id="imgfoto" width="100" style="visibility: hidden;">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <img src="" alt="Cédula" id="imgcedula" width="350" style="visibility: hidden;">
            </div>
            <div class="col-lg-8 col-md-4 col-sm-12">
                <img src="" alt="Cédula" id="ifrmcarnetvacuna" width="450" style="visibility: hidden;">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="divhistoria"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="datatable" style="width:100%">
                    <table id="tablaG" class="display" style="width:100%;font-size:13px">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Apellidos</th>
                                <th>Nombres</th>
                                <th>Liga</th>
                                <th>Club</th>
                                <th>Campeonato</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Apellidos</th>
                                <th>Nombres</th>
                                <th>Liga</th>
                                <th>Club</th>
                                <th>Campeonato</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    frappe.ready(function () {
        frappe.require([
        '/assets/js/datatable/jquery.dataTables.min.js',//jquery.dataTables.min.js
        '/assets/js/datatable/dataTables.jqueryui.min.js',//dataTables.jqueryui.min.js
        '/assets/js/datatable/dataTables.buttons.min.js',//dataTables.buttons.min.js
        '/assets/js/datatable/buttons.jqueryui.min.js', //buttons.jqueryui.min.js
        '/assets/js/datatable/jszip.min.js',
        '/assets/js/datatable/pdfmake.min.js', //pdfmake.min.js
        '/assets/js/datatable/vfs_fonts.js',
        '/assets/js/datatable/buttons.html5.min.js',
        '/assets/js/datatable/buttons.print.min.js',
        '/assets/js/datatable/buttons.colVis.min.js',
		'/assets/kopa/cssweb/plugins/bootstrap/bootstrap.min.css',
		'/assets/css/datatable/jquery-ui.css',
		'/assets/kopa/cssweb/css/jquery-ui.theme.min.css',
        '/assets/css/datatable/dataTables.jqueryui.min.css',
        '/assets/css/datatable/buttons.jqueryui.min.css'], () => {
            let queryString = frappe.utils.get_url_arg('ci')
            $("#txtci").val(queryString);
            iniciotabla();
            $("#buscarjugador").click(function(){
              buscar();
            });
        });
    });
    function iniciotabla(){
        let datos = new Object();
        $("#tablaG").dataTable().fnDestroy();
        $('#tablaG').dataTable( {
            dom: 'Bfrtip',
                buttons: [
                    'pdfHtml5'
                ],
                scrollX: true,
                //lengthChange: false,
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
            data : datos,
            "ordering": false,
            "order": [[ 3, "desc" ]],
            "columnDefs": [
                { "width": "5%", "targets": 0 },
                { "width": "20%", "targets": 1 },
                { "width": "20%", "targets": 2 },
                { "width": "20%", "targets": 3 },
                { "width": "15%", "targets": 4 },
                { "width": "20%", "targets": 5 }
            ],
            columns: [
                {
                    "data": null, "render": function (data, type, full, meta) {
                        return meta.row + 1;
                    }
                },
                {"data" : "apellidos"},
                {"data" : "nombres"},
                {"data" : "liga"},
                {"data" : "club"},
                {"data" : "campeonato"}
            ],
        });
    }
    function buscar() {
        let ci = $("#txtci").val();
        
        if (ci === undefined) {
            frappe.msgprint("El campo ci es requerido");
            return;
        }
        
        frappe.call({
            method: "kopa.www.historia_jugador.index.historiajugador",
            //freeze: true,
            args: {
                "ci": ci
            }
        }).done((r)=>{
            obj=JSON.stringify(r.message);
			document.getElementById("imgfoto").style.visibility = "visible";
			document.getElementById("imgcedula").style.visibility = "visible";
			document.getElementById("ifrmcarnetvacuna").style.visibility = "visible";
			document.getElementById("imgfoto").src = r.message[0].foto;
			document.getElementById("imgcedula").src = r.message[0].copia_cedula;
			document.getElementById("ifrmcarnetvacuna").src = r.message[0].carnet_vacunacion;
            
            $("#tablaG").dataTable().fnDestroy();
            $('#tablaG').dataTable( {
                dom: 'Bfrtip',
                    buttons: [
                        'pdfHtml5'
                    ],
                    scrollX: true,
                    //lengthChange: false,
                    language: {
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    },
                data : r.message,
                "ordering": false,
                "order": [[ 3, "desc" ]],
                "columnDefs": [
                    { "width": "5%", "targets": 0 },
                    { "width": "20%", "targets": 1 },
                    { "width": "20%", "targets": 2 },
                    { "width": "20%", "targets": 3 },
                    { "width": "15%", "targets": 4 },
                    { "width": "20%", "targets": 5 }
                ],
                columns: [
                    {
                        "data": null, "render": function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    },
                    {"data" : "apellidos"},
                    {"data" : "nombres"},
                    {"data" : "liga"},
                    {"data" : "club"},
                    {"data" : "campeonato"}
                ],
            });
        });

    }
</script>
{% endblock %}