{% extends 'templates/web.html' %}
{% block title %}{{ _("KOPA - Inicio") }}
{% endblock %}
{% block script %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="description" content="Bootstrap App Landing Template">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Themefisher">
	<meta name="generator" content="Themefisher Small Apps Template v1.0">
	
	  
			
{% endblock %}

{% block page_content %}

<section class="section gradient-banner">
	<div class="shapes-container">
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
	</div>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 order-2 order-md-1 text-center text-md-left">
				<h2 class="text-white font-weight-bold mb-4">El éxito sin honor es el mayor de los fracasos (Vicente del Bosque).</h2>
				<p class="text-white mb-5">KOPA, Sistema integral para la gestion de campeonatos de futbol.</p>
				<!--<a href="FAQ.html" class="btn btn-main-md">Download Now</a>-->
			</div>
			<div class="col-md-6 text-center order-1 order-md-2">
				<img class="img-fluid" src="/assets/kopa/logokopablanco-200x200.png" width="300" alt="screenshot">
			</div>
		</div>
	</div>
</section>
<!--====  End of Hero Section  ====-->

<section class="section pt-0 position-relative pull-top">
	<div class="container">
		<div class="rounded shadow p-5 bg-white">
			<div class="row">
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
					<img class="img-fluid" src="/assets/kopa/web.png" alt="iphone-ipad" width="25%">
					<h3 class="mt-4 text-capitalize h5 ">Sistema Web</h3>
					<p class="regular text-muted">Nuestro sistema le ofrece seguridad e integridad de la información, es adaptable a cualquier dispositivo, y es amigable para los usuarios.</p>
				</div>
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
					<img class="img-fluid" src="/assets/kopa/soporte-tecnico.png" alt="iphone-ipad" width="25%">
					<h3 class="mt-4 text-capitalize h5 ">Soporte Técnico</h3>
					<p class="regular text-muted">Le ofrecemos el acompañamiento tecnico ante cualquier inconveniente que pueda surgir, sin ningún costo adicional.</p>
				</div>
				<div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
					<img class="img-fluid" src="/assets/kopa/actualizar.png" alt="iphone-ipad" width="25%">
					<h3 class="mt-4 text-capitalize h5 ">Actualizaciones gratis</h3>
					<p class="regular text-muted">No exixtirán valores adicionales por actualizaciones o mejoras del sistema.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!--==================================
=            Feature Grid            =
===================================-->
<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h3>Automatice los procesos en la Organización de Campeonatos de fútbol <!--<a
							href="https://themefisher.com/products/small-apps-free-app-landing-page-template/">Small Apps</a>--></h3>
					<!-- Feature Description -->
					<p>Le ofrecemos un Sistema web moderno, eficáz y amigable, que le ayudará en la automatización de los procesos que intervienen en la organización de Campeonatos de Ligas Barriales y Parroquiales, lo cual permitirá a todos los participantes obtener información relacionada a los campeonatos en cualquier mometo.</p>
				</div>
				<!-- Testimonial Quote -->
				<div class="testimonial">
					<p>
						"Las personas siempre le temen al cambio. Le temían a la electricidad cuando fue inventada, ¿no es así?”
					</p>
					<ul class="list-inline meta">
						<li class="list-inline-item">
							<img src="/assets/kopa/cssweb/images/testimonial/bill-gates.jpg" alt="">
						</li>
						<li class="list-inline-item">Bill Gates</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 mr-auto justify-content-center">
				<!-- Feature mockup -->
				<div class="image-content" data-aos="fade-left">
					<img class="img-fluid" src="/assets/kopa/imagen-sport.jpg" alt="ipad">
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Feature Grid  ====-->

<section class="service section bg-gray">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h3>CARACTERISTICAS</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 align-self-center">
				<!-- Feature Image -->
				<div class="service-thumb left" data-aos="fade-right">
					<img class="img-fluid" src="/assets/kopa/caracteristicaskopa.png" alt="iphone-ipad" width="100%">
				</div>
			</div>
			<div class="col-lg-5 mr-auto align-self-center">
				<div class="service-box">
					<div class="row align-items-center">
						<div class="col-md-6 col-xs-12">
							<!-- Service 01 -->
							<div class="service-item">
								<!-- Icon -->
								<img src="/assets/kopa/calendario.png" alt="image" width="25%">
								<!-- Heading -->
								<h3  style="color:#000080">Generación de Fixture</h3>
								<!-- Description -->
								<p>Con nuestro sistema podrá generar de manera automática los calendarios de cada partido.</p>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							<!-- Service 01 -->
							<div class="service-item">
								<!-- Icon -->
								<img src="/assets/kopa/podio.png" alt="image" width="25%">
								<!-- Heading -->
								<h3 style="color:#000080">Tabla de Posiciones</h3>
								<!-- Description -->
								<p>Podrá consultar en cualquier momento la tabla de Posiciones, tomando en cuenta las fases, grupos y categorías.</p>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							<!-- Service 01 -->
							<div class="service-item">
								<!-- Icon -->
								<img src="/assets/kopa/tablagoleadores.png" alt="image" width="25%">
								<!-- Heading -->
								<h3 style="color:#000080">Tabla de Goleadores</h3>
								<!-- Description -->
								<p>También podrá saber quien es el jugador que más goles, tarjetas amarillas y tarjetas rojas tiene.</p>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							<!-- Service 01 -->
							<div class="service-item">
								<!-- Icon -->
								<img src="/assets/kopa/pases.png" alt="image" width="25%">
								<!-- Heading -->
								<h3 style="color:#000080">Pases de jugadores</h3>
								<!-- Description -->
								<p>También podrá automatizar la tediosa tarea de realizar los pases de jugadores de un club a otro; adicionalmente podrá obtener un historial del jugador.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!--==============================
=            Services            =
===============================-->
<section class="feature section pt-0">
	<div class="container">
		<div class="section-title">
			<h2 class="demoHeaders">Indicadores</h2>
			<p class="demoHeaders">Seleccione una liga para filtrar la información.</p>
		</div>
		<div class="row">
	
			<div class="col-lg-12">
				
					<div id="divLigas" style="width: 100%;">
						<select name="ligas[]" id="ligas" >
						</select>				
					</div>
				
			</div>
		</div>
	</div>
</section>
<section class="section testimonial" id="testimonial1" style="margin-top:-150px">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- Testimonial Slider -->
				<div class="testimonial-slider owl-carousel owl-theme">
					<!-- Testimonial 01 -->
					<div class="item">
						<div class="block shadow">
							
							<h3 class="demoHeaders">Numero de Jugadores por Rango de edad</h3>
							<div id="chartJugadoresXEdad" style="width: 95%;height: 60vh;">		
							
						</div>
						</div>
					</div>
					<div class="item">
						<div class="block shadow">
							
							<h3 class="demoHeaders">Total de Tarjetas Amarillas por categoría</h3>
							<div id="chartTAXCategorias" style="width: 95%;height: 60vh;">
							
						</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>

<!--=================================
=            Video Promo            =
==================================-->
<!--<section class="video-promo section bg-1">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="content-block">
					<h2>Watch Our Promo Video</h2>
					<p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet et,
						porttitor at sem. Vivamus </p>
					<a data-fancybox href="https://www.youtube.com/watch?v=jrkvirglgaQ">
						<i class="ti-control-play video"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>-->
<!--====  End of Video Promo  ====-->

<!--=================================
=            Testimonial            =
==================================-->
<section class="section testimonial" id="testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- Testimonial Slider -->
				<div class="testimonial-slider owl-carousel owl-theme">
					<!-- Testimonial 01 -->
					<div class="item">
						<div class="block shadow">
							<!-- Speech -->
							<p><a href="https://pruebas.erpceres.site/app/"> <i class="ti-link text-primary h5"></i> ERP CERES</a>
							</p>
							<p>
								El sistema que GESTIONARA y mejorará paulatinamente el crecimiento de clínicas, consultorios médicos y odontológicos.<br> 
								- Historia clínica - Registro de pacientes - Signos vitales - Citas médicas - Recetas - Etc.<br>
								
							</p>
							<!-- Person Thumb --><center>
							<div class="image">
								<img src="/assets/kopa/LogoCeres1.png" alt="image">
							</div></center>
							<!-- Name and Company -->
							<cite></cite>
						</div>
					</div>
					<div class="item">
						<div class="block shadow">
							<!-- Speech -->
							<p><a href="https://mitarjeta-virtual.com/AdameFrancisco#home"> <i class="ti-link text-primary h5"></i> Mi tarjeta virtual</a>
							</p>
							<p>
								Has una presentación diferente de tu perfil, tu marca o tu negocio con nuestra aplicación; 
								nuestra aplicación es moderna y eficáz con la que podrás compartir tu información comercial y profesional
								de modo que tus clientes podrán conocerte y confiar mas en tí.<br> 
								
							</p>
							<!-- Person Thumb --><center>
							<div class="image">
								<img src="/assets/kopa/LogoTarjetaVirtual350px.png" alt="image">
							</div></center>
							<!-- Name and Company -->
							<cite></cite>
						</div>
					</div>
					<div class="item">
						<div class="block shadow">
							<!-- Speech -->
							<p>
							    <a href="https://demo.lexie.click/#login"> <i class="ti-link text-primary h5"></i> LEXIE</a></p>
							 <p>
								Nuestro sistema de facturación electrónica le facilitará realizar todas las actividades relacionadas a la gestión de de su negocio (ventas, inventarios, clientes); es fácil de usar, amigable y seguro, además cuentas con nuestro soporte técnico.<br> 
							</p>
							<!-- Person Thumb --><center>
							<div class="image">
								<img src="/assets/kopa/lexielogo.jpg" alt="image">
							</div></center>
							<!-- Name and Company -->
							<cite></cite>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Testimonial  ====-->

<section class="call-to-action-app section bg-blue">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Es tiempo del cambio</h2>
				<p>Administre su campeonato con nuestro sistema.
					<!--<br>We say you won’t look back.</p>-->
				<ul class="list-inline">
					<li class="list-inline-item">
						<a href="" class="btn btn-rounded-icon">
							<i class="ti-apple"></i>
							Iphone
						</a>
					</li>
					<li class="list-inline-item">
						<a href="" class="btn btn-rounded-icon">
							<i class="ti-android"></i>
							Android
						</a>
					</li>
					<li class="list-inline-item">
						<a href="" class="btn btn-rounded-icon">
							<i class="ti-microsoft-alt"></i>
							Windows
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<script>
	frappe.ready(function () { 
		function loadcss(url){
    		/*$('<link>')
              .appendTo('head')
              .attr({
                  type: 'text/css', 
                  rel: 'stylesheet',
                  href: url
              });	*/
            $( document ).ready(function() {
                $( "#import" ).load(url );
            });
		}
		/*loadcss('/files/plugins/bootstrap/bootstrap.min.css');
		loadcss('/files/plugins/jquery-ui.css');
		loadcss('/files/plugins/jquery-ui.theme.min.css');
		loadcss('/files/plugins/themify-icons/themify-icons.css');
		loadcss('/files/plugins/slick/slick.css');
		loadcss('/files/plugins/slick/slick-theme.css');
		loadcss('/files/plugins/fancybox/jquery.fancybox.min.css');
		loadcss('/files/plugins/aos/aos.css');
		//loadcss('/files/plugins/style.css');*/
		
        function loadJS(FILE_URL, async = true) {
          let scriptEle = document.createElement("script");
        
          scriptEle.setAttribute("src", FILE_URL);
          scriptEle.setAttribute("type", "text/javascript");
          scriptEle.setAttribute("async", async);
        
          document.body.appendChild(scriptEle);
        
          // success event 
          scriptEle.addEventListener("load", () => {
            console.log("File loaded")
          });
           // error event
          scriptEle.addEventListener("error", (ev) => {
            console.log("Error on loading file", ev);
          });
        }
        
        loadJS("/files/amcharts.js", true);
        loadJS("/files/Animated.js", true);
        loadJS("/files/xy.js", true);
        loadJS("/files/percent.js", true);
        loadJS("/files/jsgrafico.js", true);
        loadJS("/files/jsgraficoTAPastel.js", true);
        loadJS("/files/plugins/script.js", true);
		frappe.call({
			method: "kopa.www.inicio.index.get_ligas",
			//freeze: true,
		}).done((cat)=>{
			html = "<option value='Todos' selected='selected'>Todos</option>"
			$.each(cat.message, function(_i,ee){
				html += "<option value=" + ee.name + ">" + ee.nombre + "</option>"
			});
			document.getElementById("ligas").innerHTML = html;	
		});
		let text =$("#elementId :selected").text(); // The text content of the selected option
		let value=$("#elementId").val(); // The value of the selected option
		buscarTodos();
		buscarSanciones("a","a");
			
			
			$("#ligas").change(function() {
				//alert($(this).find("option:selected").text());
				if($(this).find("option:selected").text()=="Todos"){
					buscarTodos();
				}
				else{
					buscar($(this).find("option:selected").text());
					//buscarSanciones($(this).find("option:selected").text());
					buscarCategorias($(this).find("option:selected").text());
				}
				
			});
		
		function buscarTodos() {
			document.getElementById('chartJugadoresXEdad').innerHTML = '';
				frappe.call({
					method: "kopa.www.inicio.index.consulta_jugadores_rangoedad",
					//freeze: true,
					/*args: {
						"ci": ci
					}*/
				}).done((r)=>{
					graficar(r.message)
				});
			
	
		}	
        function buscar(liga) {
			frappe.call({
				method: "kopa.www.inicio.index.consulta_jugadores_rangoedadXliga",
				//freeze: true,
				args: {
					"liga": liga
				}
			}).done((r)=>{
				graficar(r.message)
			});
		}	
		function buscarSanciones(liga,categorias){
			console.log(categorias);
			frappe.call({
				method: "kopa.www.inicio.index.getTablaSanciones",
				//freeze: true,
				args: {
					"liga": liga
				}
			}).done((r)=>{
				
				var arrayTotalTA=new Array();
				
				i=0;
				$.each(categorias, function(_i,ee){
					var objTotalTA=new Object();
					total_ta=0;
					$.each(r.message, function(_j,dd){
						console.log("ddddd");
						if(ee.nombrecat==dd.Categoria){
							total_ta+=parseInt(dd.TA);
						}
					});
					objTotalTA.Categoria=ee.nombrecat;
					objTotalTA.totalTA=total_ta;
					arrayTotalTA[i]=objTotalTA;
					i++;
				});
				console.log(arrayTotalTA);
				graficarTAXCAT(arrayTotalTA);
			});
		}
		function buscarCategorias(liga){
			frappe.call({
				method: "kopa.www.tabla_goleadores.index.get_categorias",
				//freeze: true,
				args: {
					"liga": liga
				}
			}).done((cat)=>{
				//console.log(cat.message);
				buscarSanciones(liga,cat.message);
			});
		}
		
        const loadScript = (FILE_URL, async = true, type = "text/javascript") => {
            return new Promise((resolve, reject) => {
                try {
                    const scriptEle = document.createElement("script");
                    scriptEle.type = type;
                    scriptEle.async = async;
                    scriptEle.src =FILE_URL;
        
                    scriptEle.addEventListener("load", (ev) => {
                        resolve({ status: true });
                    });
        
                    scriptEle.addEventListener("error", (ev) => {
                        reject({
                            status: false,
                            message: `Failed to load the script ＄{FILE_URL}`
                        });
                    });
        
                    document.body.appendChild(scriptEle);
                } catch (error) {
                    reject(error);
                }
            });
        };
    });
	
	
    
</script>
{% endblock %}