<div class="row margin-bottom">
    <div class="col-xs-12">
        <p class="colortexto"> Cedula:</p>
        <p class="entidad" style="  max-width: 500px; margin-bottom: 20px;"></p>
    </div>
</div>